.WeddingBanner {
    display: flex;
    width: 100%;
    height: calc(100% - 50px);
    background-image: url('./countdown-bg.png');
    background-size: 100% 93%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.left-side-banner {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.left-side-banner img {
    width: 65%;
}

.right-side-banner {
    color: #cf9e48;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-first {
    position: relative;
    font-size: 30px;
    right: 30%;
    animation: rightFadeInOut 1.5s ease-in-out;
}

.banner-second {
    position: relative;
    font-size: 18px;
    right: 5%;
    margin: 0 26%;
    animation: rightFadeInOutScd 2.5s ease-in-out;
}

.f-banner {
    font-size: 22px;
}

@keyframes rightFadeInOut {
    from {
        right: -30%;
        opacity: 0;
    }

    to {
        right: 30%;
        opacity: 1;
    }
}

@keyframes rightFadeInOutScd {
    from {
        right: -30%;
        opacity: 0;
    }

    to {
        right: 5%;
        opacity: 1;
    }
}