.WeddingFormat {
    position: relative;
    background-image: url('../image/jenny-bg.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.lg-name {
    background-image: url('../image/frem.png');
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-size: 30px;
    color: #cc9842;
}

.f-street {
    font-size: 18px;
}

.font-link {
    margin: 1rem 0;
    font-size: 48px;
    font-family: 'Send Flowers', cursive;
}

@media only screen and (max-width: 480px) {
    .lg-name {
        background-size: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .font-link {
        margin: .5rem 0;
    }
}